{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Lista de Reservas</h1>
      </div>
    </div>

    <form method="POST">
      <br>
      <div class="form-group">
          <br><label for="id_reserva">Buscar por ID da Reserva</label>
          <input type="text" class="form-control" id="id_reserva" name="id_reserva" placeholder="Digite o ID da reserva">
      </div>
      <br> <h2>OU</h2>
      <div class="form-group">
          <br><label for="usuario">Buscar por Usuário</label>
          <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Digite o nome do usuário">
      </div>
      <br> <h2>OU</h2>
      <div class="form-group">
          <br><label for="inicio">Início</label>
          <input type="datetime-local" class="form-control" id="inicio" name="inicio">
      </div>
      <div class="form-group">
          <br><label for="fim">Fim</label>
          <input type="datetime-local" class="form-control" id="fim" name="fim">
      </div>
      <br>
      <button class="btn btn-sm btn-dark" type="submit">Buscar</button>
  </form>
  

    {% if reserva_encontrada %}
      <div class="row mt-4">
        <div class="col">
          <h2>Reserva Encontrada</h2>
          <p>ID: {{ reserva_encontrada.id_reserva }}</p>
          <p>ID Sala: {{ reserva_encontrada.sala_id }}</p>
          <p>Inicio: {{ reserva_encontrada.inicio.strftime('%d/%m/%Y %H:%M') }}</p>
          <p>Fim: {{ reserva_encontrada.fim.strftime('%d/%m/%Y %H:%M') }}</p>
          <p>Reservado por: {{ reserva_encontrada.usuario }}</p>
        </div>
      </div>
    {% endif %}


    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID da Reserva</th>
                <th scope="col">ID da Sala</th>
                <th scope="col">Início</th>
                <th scope="col">Fim</th>
                <th scope="col">Usuário</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for reserva in reservas %}
              <tr>
                <td>{{reserva.id_reserva}}</td>
                <td>{{ reserva.sala_id }}</td>
                <td>{{ reserva.inicio.strftime('%d/%m/%Y %H:%M') }}</td>
                <td>{{ reserva.fim.strftime('%d/%m/%Y %H:%M') }}</td>
                <td>{{ reserva.usuario}}</td>
                <td>
                  <a href="{{ url_for('detalhe_reserva', id_reserva=reserva.id_reserva, sala_id=reserva.sala_id, inicio=reserva.inicio.isoformat(), fim=reserva.fim.isoformat()) }}" class="btn btn-sm btn-dark">Detalhes</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
